body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}


.img-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.img-rps {
    width: 200px;
    height: 200px;
}

button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 210px;
    height: 210px;
}

.score, #winner {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: pink;
}

.score-group {
    display: flex;
    gap: 10px;
}